# ===========================
# DevSecOps GLA - CODEOWNERS
# ===========================

# DevOps Engineer (CI/CD Lead)
# Responsible for GitHub Actions, workflows, pipeline automation
/.github/workflows/   @RANGIRA46

# Infrastructure Engineer (Terraform/Azure)
# Responsible for infrastructure IaC
/infra/               @asakbb

# Configuration Manager (Ansible Lead)
# Responsible for server config + deployment
/ansible/             @uwimba

# Security Engineer (DevSecOps Lead)
# Responsible for scanning, policy, vulnerabilities
/security/            @NYIRA-MUGISHA-Lydie

# All developers collaborate on application code
/frontend/            @RANGIRA46 @asakbb @uwimba @NYIRA-MUGISHA-Lydie
/backend/             @RANGIRA46 @asakbb @uwimba @NYIRA-MUGISHA-Lydie

# Catch-all rule (optional)
*                    @RANGIRA46
