name: CD Pipeline

on:
  push:
    branches: [ main, develop ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Backend Image
        run: |
          docker build -t ghcr.io/${{ toLower(github.repository_owner) }}/task-backend:${{ github.sha }} backend/

      - name: Push Backend Image
        run: |
          docker push ghcr.io/${{ toLower(github.repository_owner) }}/task-backend:${{ github.sha }}
